body {
  margin-left: 5px;
  margin-right: 5px;
}

.main__title {
  font-family: 'Shrikhand', sans-serif;
  font-weight: bold;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

footer {
  background-color: #353535;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-top: 0.5rem;
}

footer ul li i {
  margin-right: 0.5rem;
}

.footer__logo {
  font-family: 'Shrikhand', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.logo {
  width: 20rem;
}

header i {
  position: absolute;
  left: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
