@keyframes price-move{
    0%{
        transform: translateX(60px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}