@mixin margin {
    margin-right: auto;
    margin-left: auto;
}

@mixin box-shadow{
    box-shadow: 3px 5px 5px $lighten-10;
    }

    /*     loader     */
@mixin loader ($width: 200px, $height: 200px, $border-style: solid, $border-width: 4px, $left-position: 0){
    width: $width;
    height: $height;
    border: $color-primary $border-style $border-width;
    top: 0; left: $left-position; right: 0; bottom: 0;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    animation: loader 3s ease-out 1;
}

/*     cartes explications     */
@mixin main__article__card($background-color: $lighten-20, $background-modif: lighten($color-secondary, 21%), $color-modif: $color-primary){
    display: flex;
    align-items: center;
    background-color: $background-color;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    @include box-shadow;
    width: 250px;
    @include media-sm{
        width: 100%;
    }
    p{
        margin-left: -1rem;
        background-color: $color-primary;
        color: white;
        height: 1.3rem;
        width: 1.3rem;
        text-align: center;
        padding: 3px 2px 0 1px;
        border-radius: 50%;
        text-align: center;
    }
    span{
        font-weight: bold;
    }
    i{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    &--modif{
        background-color: $background-modif;
        i{
            color: $color-modif;
        }
    }
}



/*     media query     */
@mixin media-sm{
    @media screen and (max-width: 630px) {
        @content; 
    }
}

