@mixin margin {
    margin-right: auto;
    margin-left: auto;
}

@mixin box-shadow{
    box-shadow: 3px 5px 5px rgb(0, 0, 0, 20%);
    }

    /*     loader     */
@mixin loader ($width: 200px, $height: 200px, $border-style: solid, $border-width: 4px, $left-position: 0){
    width: $width;
    height: $height;
    border: $color-primary $border-style $border-width;
    top: 0; left: $left-position; right: 0; bottom: 0;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    animation: loader 3s ease-out 1;
}



/*     media query     */
@mixin media-sm{
    @media screen and (max-width: 880px) {
        @content; 
    }
}

@mixin media-l{
    @media screen and (max-width: 1250px) {
        @content; 
    }
}

@mixin media-img{
    @media screen and (max-width: 2580px) {
        width: 600px;
    }
    @media screen and (max-width: 1600px) {
        width: 600px;
    }
    @media screen and (max-width: 1250px) {
        width: 400px;
    }
    @media screen and (max-width: 850px) {
        width: 100%;
    }
}

