@mixin margin {
    margin-right: auto;
    margin-left: auto;
}

@mixin box-shadow{
    box-shadow: 3px 5px 5px $lighten-10;
    }

@mixin card{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    @include box-shadow;
    width: fit-content;
    position: relative;
    @include media-sm{
        margin-right: 0;
    }
    span{
        position: absolute;
        top: 0.8rem;
        right: 0.5rem;
        font-size: 0.8rem;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 60%);
        border: solid none;
        padding: 0.3rem;
        box-shadow: 1px 3px 3px darken($color-tertiary, 50%);
    }
    img{
        width: 250px;
        @include media-sm{
            width: 100%;
        }
    }
    figcaption{
        display: flex;
        justify-content: space-between;
        line-height: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        flex-wrap: wrap;
        i{
            align-self: center;
        }
    }
}

@mixin main__article__card($background-color: $lighten-20, $background-modif: lighten($color-secondary, 21%), $color-modif: $color-primary){
    display: flex;
    align-items: center;
    background-color: $background-color;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    @include box-shadow;
    width: 250px;
    @include media-sm{
        width: 100%;
    }
    p{
        margin-left: -1rem;
        background-color: $color-primary;
        color: white;
        height: 1.3rem;
        width: 1.3rem;
        text-align: center;
        padding: 3px 2px 0 1px;
        border-radius: 50%;
        text-align: center;
    }
    span{
        font-weight: bold;
    }
    i{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    &--modif{
        background-color: $background-modif;
        i{
            color: $color-modif;
        }
    }
}

@mixin annex__card {
    background-color: white;
    display: flex;
    height: 70px;
    position: relative;
    @include box-shadow;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    .annex__card__content{
        margin-left: 1rem;
        margin-top: -0.4rem;
        display: block;
        width: 500px;
        padding-right: 70px;
        overflow: hidden;
        h3, p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .price{
        position: absolute;
        align-self: flex-end;
        display: flex;
        right: 0;
        top: 0;
        bottom: 0;
        transform: translateX(60px);
        .check{
            display: block;
            width: 60px;
            background-color: #99e2d0;
            border-radius: 0 1rem 1rem 0;
            color: white;
            i{
                margin-top: 50%;
                margin-left: 35%;
            }
        }
        p{
            font-weight: bold;
            align-self: flex-end;
            margin-right: 10px;
            margin-bottom: 0.5rem;
        }
    }
}

@mixin media-sm{
    @media screen and (max-width: 630px) {
        @content; 
    }
}

