$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$lighten-10: lighten($color-tertiary, 10%);
$lighten-20: lighten($color-tertiary, 20%);
$btn-color: radial-gradient(lighten($color-primary, 10%), $color-primary);
$border: 15rem;
$padding: 1rem;

/*     loading-spinner     */
$duration: 3000ms;
$delay: $duration - 350ms;
$spinner-width: 200px, 180px, 160px, 140px, 120px, 100px, 80px, 60px;

