.annex-figure{
    display: flex;
    margin: 0;
    height: 400px;
    img{
        width: 100%;
    }
}

.annex-main{
    background-color: $color-background;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    top: -6rem;
    margin-bottom: -6rem;
    display: flex;
    flex-direction: column;
    &__title{
        padding-left: 1rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-family: 'Shrikhand', sans-serif;
        h2{
            font-size: 1.7rem;
        }
        i{
            align-self: center;
            margin-right: 20px;
        }
    }
    &__content{
        padding: 0 1rem 0 1rem;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        @include media-sm{
            display: flex;
            flex-direction: column;
        }
    }
    &__section{
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        h3{
            font-weight: lighter;
            display: flex;
            flex-direction: column;
            .underline{
                border-bottom: 2px solid $color-tertiary;
                width: 45px;
            }
        }
    }
    .btn{
        align-self: center;
    }
}