.main-section{
    &__location{
        display: flex;
        justify-content: center;
        background-color: #eaeaea;
        padding: $padding;
        i{
            margin-right: 1rem;
        }
    }
    
    &__caption{
        background-color: $color-background;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: $padding;
    }
}

nav{
    padding: $padding;
    ul{
        display: flex;
        padding-left: 0;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

.index-main{
    padding: $padding;
    background-color: $color-background;
    &__cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include media-l{
            justify-content: space-around;
        }
        article{
            margin-left: 0;
            img{
                height: 130px;
                border-radius: 1rem 1rem 0 0;
            }
        }
    }
}

