footer{
    background-color: #353535;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    ul{
        list-style-type: none;
        li{
            margin-top: 0.5rem;
            i{
                margin-right: 0.5rem;
            }
        }
    }
}

.footer__logo{
    font-family: 'Shrikhand', sans-serif;
}