.footer {
  background-color: #353535;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &__ul{
      &__logo {
      font-family: 'Shrikhand', sans-serif;
      font-size: 1.2rem;
    }
      a{
      color: white;
    }
    &__icon {
      margin-right: 0.5rem;
    }
    li {
      margin-top: 0.5rem;
    }
  }
}
