header{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 1rem;
    a{
        position: absolute;
        left: 0.5rem;
        align-self: center;
    }
}

.logo{
    width: 50%;
    padding-top: 10px;
}


