header{
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @include box-shadow;
    h1{
        font-size: 200%;
        margin: 0;
    }
    a{
        position: absolute;
        left: 0.5rem;
        align-self: center;
    }
}




