header{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 1rem;
}

.logo{
    width: 50%;
}

header i{
    position: absolute;
    left: 0.5rem;
    align-self: center;
}

