.btn {
    display: block;
    color: white;
    background-color: $color-primary;
    border-radius: $border;
    border: none;
    padding: 0.8rem 2rem 0.8rem 2rem;
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include box-shadow;
    @include margin;
    &:hover{
        animation: btn-move 350ms forwards;
    }
}

@keyframes btn-move{
    0%{
        background-color: $color-primary;
    }
    100%{
        background-color: lighten($color-primary, 10%);
        box-shadow: 3px 5px 5px darken($color-tertiary, 20%);
    }
}





