.btn {
    display: block;
    color: white;
    background: linear-gradient(172deg, #d26ada  0%,  #bc64dc 78%);
    border-radius: $border;
    border: none;
    padding: 0.8rem 2rem 0.8rem 2rem;
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 3px #c9c9c9;
    @include margin;
    &:hover{
        cursor: pointer;
        animation: btn-move 350ms forwards;
    }
}


.nav__btn{
    display: flex;
    align-items: center;
    background-color: $color-background;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    @include box-shadow;
    width: 250px;
    @include media-l{
        width: 100%;
    }
    p{
        margin-left: -1rem;
        background-color: $color-primary;
        color: white;
        height: 1.3rem;
        width: 1.3rem;
        text-align: center;
        padding: 3px 2px 0 1px;
        border-radius: 50%;
        text-align: center;
    }
    span{
        font-weight: bold;
    }
    i{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    &:hover{
        cursor: pointer;
        background-color: #f5edff;
        i{
            color: $color-primary;
        }
    }
}
