*{
    list-style-type: none;
}

body{display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

img{
    object-fit: cover;
    width: 100%;
}


.far{
    align-self: center;
    transform: scale(1.5);
}

.far--1{
    position: relative;
    .fas--1{
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        color: $color-primary;
        opacity: 0;
        &:hover{
            cursor: pointer;
            opacity: 1;
            transition: opacity 350ms;
        }
    }
}


