*{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
    :hover{
        cursor: pointer;
    }
}

.loader{
    animation: wipe-off 350ms $delay both;
    .spinner{
        @include spinner-style();
        animation: spinner-rotate $duration both cubic-bezier(.46,.68,1,1.58) 1;
        &--1{
            box-shadow: 1px 1px 10px grey;
            /*@include spinner-border-left();*/
        }
        &--2{
            @include spinner-border-top();
        }
        &--3{
            @include spinner-border-left();
        }
        &--4{
            @include spinner-border-top();
        }
        &--5{
            @include spinner-border-left();
        }
        &--6{
            @include spinner-border-top();
        }
        &--7{
            @include spinner-border-left();
        }
        &--8{
            @include spinner-border-top();
        }
        .center{
            height: 20px;
            width: 20px;
            @include spinner-style($color-primary); 
            animation: center-scale $duration both ease-in-out infinite;
        }
        
    }
}

#main-content{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    animation: reveal 1500ms $delay both;
}


img{
    object-fit: cover;
    width: 100%;
}


.far{
    align-self: center;
    transform: scale(1.5);
}

.far--1{
    position: relative;
    .fas--1{
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        color: $color-primary;
        opacity: 0;
        &:active, &:hover{
            cursor: pointer;
            opacity: 1;
            transition: opacity 350ms;
        }
    }
}





