/*     loader     */
/*     media query     */
/*     loader     */
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wipe-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*     boutons     */
@keyframes btn-move {
  0% {
    background-color: #9356dc;
  }
  100% {
    background-color: #ae80e5;
    box-shadow: 3px 5px 5px #4acbab;
  }
}
/*     check annex__card     */
@keyframes price-move {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0);
  }
}
/*     icon check     */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*     annex__card     */
@keyframes annex-card-move {
  0% {
    transform: translateY(9999px);
  }
  30% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(70px);
  }
  65% {
    transform: translateY(40px);
  }
  80% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
  }
}
/*     annex__card-move     */
.annex-card--1 {
  animation: annex-card-move 500ms 350ms ease-out both;
}

.annex-card--2 {
  animation: annex-card-move 500ms 700ms ease-out both;
}

.annex-card--3 {
  animation: annex-card-move 500ms 1050ms ease-out both;
}

.annex-card--4 {
  animation: annex-card-move 500ms 1400ms ease-out both;
}

.annex-card--5 {
  animation: annex-card-move 500ms 1750ms ease-out both;
}

.annex-card--6 {
  animation: annex-card-move 500ms 2100ms ease-out both;
}

.annex-card--7 {
  animation: annex-card-move 500ms 2450ms ease-out both;
}

.annex-card--8 {
  animation: annex-card-move 500ms 2800ms ease-out both;
}

.annex-card--9 {
  animation: annex-card-move 500ms 3150ms ease-out both;
}

.annex-card--10 {
  animation: annex-card-move 500ms 3500ms ease-out both;
}

* {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
a :hover {
  cursor: pointer;
}

.loader {
  animation: wipe-off 350ms 2650ms both;
}
.loader .spin-xl {
  width: 200px;
  height: 200px;
  border: #9356dc solid 4px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  border-radius: 50%;
  animation: loader 3s ease-out 1;
  border-right: none;
}
.loader .spin-xl .spin-s {
  width: 30px;
  height: 30px;
  border: #9356dc dotted 3px;
  top: 0;
  left: 90%;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  border-radius: 50%;
  animation: loader 3s ease-out 1;
  border-top-style: solid;
  background-color: white;
}

#main-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  opacity: 1;
  animation: reveal 1500ms 2650ms both;
}

img {
  object-fit: cover;
  width: 100%;
}

.far {
  align-self: center;
  transform: scale(1.5);
}

.far--1 {
  position: relative;
}
.far--1 .fas--1 {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  color: #9356dc;
  opacity: 0;
}
.far--1 .fas--1:active, .far--1 .fas--1:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity 350ms;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
}

* {
  font-size: 1rem;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

h3 {
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}

.btn {
  display: block;
  color: white;
  font-weight: bold;
  background-color: #9356dc;
  border-radius: 15rem;
  border: none;
  padding: 0.8rem 2rem 0.8rem 2rem;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 3px 5px 5px #99e2d0;
  margin-right: auto;
  margin-left: auto;
}
.btn:hover {
  animation: btn-move 350ms forwards;
}

.nav__btn {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  box-shadow: 3px 5px 5px #99e2d0;
  width: 250px;
}
@media screen and (max-width: 1250px) {
  .nav__btn {
    width: 100%;
  }
}
.nav__btn p {
  margin-left: -1rem;
  background-color: #9356dc;
  color: white;
  height: 1.3rem;
  width: 1.3rem;
  text-align: center;
  padding: 3px 2px 0 1px;
  border-radius: 50%;
  text-align: center;
}
.nav__btn span {
  font-weight: bold;
}
.nav__btn i {
  margin-left: 1rem;
  margin-right: 1rem;
}
.nav__btn:hover {
  cursor: pointer;
  background-color: #f5edff;
}
.nav__btn:hover i {
  color: #9356dc;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 3px 5px 5px #99e2d0;
  width: fit-content;
  position: relative;
  margin-bottom: 1rem;
}
.card--new::after {
  content: "nouveau";
  position: absolute;
  top: 0.8rem;
  right: 0.5rem;
  font-size: 0.8rem;
  background-color: #99e2d0;
  color: #10392f;
  border: solid none;
  padding: 0.3rem;
  box-shadow: 1px 3px 3px #1b6150;
}
@media screen and (max-width: 2560px) {
  .card img {
    width: 400px;
  }
}
@media screen and (max-width: 1600px) {
  .card img {
    width: 600px;
  }
}
@media screen and (max-width: 1250px) {
  .card img {
    width: 400px;
  }
}
@media screen and (max-width: 850px) {
  .card img {
    width: 100%;
  }
}
.card__caption {
  display: flex;
  justify-content: space-between;
  line-height: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  flex-wrap: wrap;
}
.card__caption i {
  align-self: center;
}

/*     cartes pages annex     */
.annex-card {
  background-color: white;
  display: flex;
  position: relative;
  box-shadow: 3px 5px 5px #99e2d0;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  animation: annex-card-move duration timing-function delay iteration-count direction fill-mode;
}
.annex-card:active, .annex-card:hover {
  cursor: pointer;
}
.annex-card:active > .price, .annex-card:hover > .price {
  animation: price-move 350ms cubic-bezier(0.32, 0, 0.07, 1) forwards;
}
.annex-card:active .price__check > i, .annex-card:hover .price__check > i {
  animation: rotate 350ms 200ms;
}
.annex-card__content {
  display: block;
  overflow: hidden;
  margin-left: 0.5rem;
}
.annex-card__content h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
}
.annex-card__content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.8rem;
  margin-top: 0.3rem;
}
.annex-card .price {
  position: absolute;
  align-self: flex-end;
  display: flex;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(70px);
}
.annex-card .price__check {
  display: block;
  width: 70px;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
  color: white;
}
.annex-card .price__check i {
  margin-top: 40%;
  margin-left: 40%;
}
.annex-card .price p {
  font-weight: bold;
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 0.8rem;
}

.footer {
  background-color: #353535;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.footer__ul__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.2rem;
}
.footer__ul a {
  color: white;
}
.footer__ul__icon {
  margin-right: 0.5rem;
}
.footer__ul li {
  margin-top: 0.5rem;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;
}
header h1 {
  font-size: 200%;
  margin: 0;
}
header a {
  position: absolute;
  left: 0.5rem;
  align-self: center;
}

.logo {
  width: 50%;
  padding-top: 10px;
}

.index-section__location {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 1rem;
}
.index-section__location i {
  margin-right: 1rem;
}
.index-section__caption {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

nav {
  padding: 1rem;
}
nav ul {
  display: flex;
  padding-left: 0;
  gap: 1rem;
  flex-wrap: wrap;
}

.index-main {
  padding: 1rem;
  background-color: #f6f6f6;
}
.index-main__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1250px) {
  .index-main__cards {
    justify-content: space-around;
  }
}
.index-main__cards article {
  margin-left: 0;
}
.index-main__cards article img {
  height: 130px;
  border-radius: 1rem 1rem 0 0;
}

.annex-main__figure {
  display: flex;
  margin: 0;
  height: 400px;
}
.annex-main__figure img {
  width: 100%;
}
.annex-main__body {
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  position: relative;
  top: -6rem;
  margin-bottom: -6rem;
  display: flex;
  flex-direction: column;
}
.annex-main__body__title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
}
.annex-main__body__title i {
  align-self: center;
}
.annex-main__body__section {
  margin-bottom: 2rem;
}
.annex-main__body__section h3 {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
}
.annex-main__body__section h3 .underline {
  border-bottom: 2px solid #99e2d0;
  width: 45px;
}
.annex-main__body .btn {
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
